 .u-section-1 {
  background-image: none;
  min-height: 706px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: -2px;
  margin-bottom: 60px;
  background-image: none;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 580px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 500;
  letter-spacing: 1.5px;
  margin: 98px auto 0 84px;
}

.u-section-1 .u-text-2 {
  font-size: 1.375rem;
  letter-spacing: 9px;
  font-weight: 500;
  margin: 0 20px 0 100px;
}

.u-section-1 .u-text-3 {
  font-weight: normal;
  background-image: none;
  font-size: 2.25rem;
  margin: 114px 60px 0 77px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 580px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 495px;
  height: 477px;
  margin: 86px auto 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 631px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 478px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 84px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 10px;
    margin-left: 27px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 478px;
  }

  .u-section-1 .u-image-1 {
    width: 469px;
    height: 452px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 478px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 559px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 366px;
  }

  .u-section-1 .u-image-1 {
    width: 359px;
    height: 346px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 828px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 466px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 549px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 550px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 21px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 450px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
    margin-top: 39px;
    margin-left: 63px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    letter-spacing: 3px;
    width: auto;
    margin-top: 0;
    margin-right: 136px;
    margin-left: 69px;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.8125rem;
    width: auto;
    margin-top: 31px;
    margin-right: 164px;
    margin-left: 69px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 108px;
  }

  .u-section-1 .u-image-1 {
    width: 221px;
    height: 228px;
    margin-top: -259px;
    margin-left: 51px;
  }
} .u-section-2 {
  min-height: 955px;
}

.u-section-2 .u-shape-1 {
  width: 3885px;
  height: 1304px;
  margin: -229px auto 0 calc(((100% - 1140px) / 2) + -1971px);
}

.u-section-2 .u-shape-2 {
  height: 464px;
  margin-top: -581px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1098px;
  background-image: none;
  margin: -878px auto 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 721px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  width: 348px;
  margin: 93px auto 0;
}

.u-section-2 .u-text-2 {
  background-image: none;
  font-size: 1.5rem;
  margin: 79px -5px 0 87px;
}

.u-section-2 .u-icon-1 {
  width: 30px;
  height: 30px;
  margin: -58px auto 0 37px;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  margin: 71px 47px 0 87px;
}

.u-section-2 .u-icon-2 {
  width: 30px;
  height: 30px;
  margin: -29px auto 0 37px;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  margin: 42px -25px 0 87px;
}

.u-section-2 .u-icon-3 {
  width: 30px;
  height: 30px;
  margin: -86px auto 0 37px;
}

.u-section-2 .u-icon-4 {
  width: 30px;
  height: 30px;
  margin: 99px auto 0 37px;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  margin: -30px 0 0 87px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 721px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  left: auto;
  right: 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 851px;
  }

  .u-section-2 .u-shape-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 617px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 4px;
    margin-left: 43px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 20px;
    margin-right: 4px;
    margin-left: 43px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-icon-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 886px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 707px;
  }

  .u-section-2 .u-shape-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 473px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1122px;
  }

  .u-section-2 .u-shape-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 710px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 990px;
  }

  .u-section-2 .u-shape-1 {
    width: 1023px;
    height: 1321px;
    margin-top: -241px;
    margin-left: calc(((100% - 340px) / 2) + -359px);
  }

  .u-section-2 .u-shape-2 {
    height: 153px;
    margin-top: -245px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 198px;
    margin-top: -1015px;
    margin-bottom: 53px;
    margin-left: calc(((100% - 340px) / 2) + 22px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 746px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 42px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 42px;
    margin-left: 42px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: -108px;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 106px;
    margin-left: 42px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: -65px;
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 76px;
    margin-left: 42px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: -151px;
    margin-right: auto;
  }

  .u-section-2 .u-icon-4 {
    margin-top: 149px;
    margin-right: auto;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.125rem;
    width: auto;
    margin-top: -30px;
    margin-left: 42px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 218px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 261px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  width: 393px;
  font-size: 3rem;
  margin: 129px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 837px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 691px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1031px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 64px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    font-size: 1.5rem;
    margin: 19px 92px 19px -4px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 546px;
}

.u-section-4 .u-layout-wrap-1 {
  background-image: none;
  width: 1140px;
  margin: 2px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 552px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 552px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 1px;
}

.u-section-4 .u-text-1 {
  font-weight: 500;
  margin: 128px 60px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  margin: 37px 61px 0 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 552px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-4 .u-text-3 {
  font-weight: 500;
  margin: 128px 71px 0 49px;
}

.u-section-4 .u-text-4 {
  font-size: 1.125rem;
  margin: 36px -22px 0 49px;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 285px;
  order: 3;
}

.u-section-4 .u-container-layout-4 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 449px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-layout-cell-1 {
    background-position: 50% 50%;
    background-size: 130%;
    min-height: 475px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 455px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 10px;
    width: 217px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 11px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 455px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 46px;
    margin-left: 24px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
    margin-left: 24px;
  }

  .u-section-4 .u-layout-cell-4 {
    background-position: 50% 50%;
    background-size: auto 130%;
    min-height: 235px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1388px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 728px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2186px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 1092px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1143px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 203px;
    margin: -1px auto 16px 24px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 234px;
    order: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 256px;
    order: 1;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 1px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 306px;
    order: 2;
  }

  .u-section-4 .u-text-3 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 285px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 54px;
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 39px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 558px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 1px 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 532px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-6 .u-text-1 {
  font-weight: 500;
  margin: 122px 60px 0 1px;
}

.u-section-6 .u-text-2 {
  font-size: 1.125rem;
  margin: 36px 69px 0 1px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 566px;
}

.u-section-6 .u-container-layout-2 {
  padding: 0;
}

.u-section-6 .u-image-1 {
  object-position: 49.31% 50%;
  width: 184px;
  height: 375px;
  margin: 94px auto 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 566px;
}

.u-section-6 .u-container-layout-3 {
  padding: 0;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 532px;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-6 .u-text-3 {
  font-weight: 500;
  margin: 128px 46px 0 0;
}

.u-section-6 .u-text-4 {
  font-size: 1.125rem;
  margin: 36px 25px 0 1px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 431px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 514px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-6 .u-text-1 {
    margin-right: 11px;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 514px;
  }

  .u-section-6 .u-image-1 {
    height: 376px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 467px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 439px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1338px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 787px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 715px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1202px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 299px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 1181px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 1073px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1190px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 203px;
    margin: -2px auto 3px 24px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 263px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 18px;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-right: 18px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 310px;
  }

  .u-section-6 .u-image-1 {
    width: 90px;
    height: 191px;
    margin-top: 63px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 292px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 334px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 0;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-right: 10px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 54px;
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 542px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 552px;
}

.u-section-8 .u-container-layout-1 {
  padding: 0;
}

.u-section-8 .u-image-1 {
  width: 172px;
  height: 361px;
  margin: 101px auto 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 552px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 1px;
}

.u-section-8 .u-text-1 {
  font-weight: 500;
  margin: 128px 60px 0 0;
}

.u-section-8 .u-text-2 {
  font-size: 1.125rem;
  margin: 36px 61px 0 0;
}

.u-section-8 .u-layout-cell-3 {
  min-height: 552px;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-8 .u-text-3 {
  font-weight: 500;
  margin: 128px 68px 0 52px;
}

.u-section-8 .u-text-4 {
  font-size: 1.125rem;
  margin: 36px -25px 0 52px;
}

.u-section-8 .u-layout-cell-4 {
  min-height: 552px;
}

.u-section-8 .u-container-layout-4 {
  padding: 0;
}

.u-section-8 .u-image-2 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  width: 165px;
  height: 360px;
  margin: 101px auto 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: -432px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 455px;
  }

  .u-section-8 .u-image-1 {
    height: 362px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 455px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 10px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 11px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 455px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 43px;
    margin-left: 27px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 0;
    margin-left: 27px;
  }

  .u-section-8 .u-layout-cell-4 {
    min-height: 455px;
  }

  .u-section-8 .u-image-2 {
    height: 359px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1490px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: -1430px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 697px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-4 {
    min-height: 697px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 2813px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: -2753px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 1046px;
  }

  .u-section-8 .u-layout-cell-4 {
    min-height: 1046px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1213px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 203px;
    margin: 0 auto 15px 24px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 265px;
  }

  .u-section-8 .u-image-1 {
    width: 91px;
    height: 191px;
    margin-top: 37px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 334px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-right: 8px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 362px;
  }

  .u-section-8 .u-text-3 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-4 {
    width: auto;
    margin-right: 23px;
    margin-left: 0;
  }

  .u-section-8 .u-layout-cell-4 {
    min-height: 246px;
  }

  .u-section-8 .u-image-2 {
    object-position: 48.11% 50%;
    width: 90px;
    height: 191px;
    margin-top: 31px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 261px;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  width: 254px;
  margin: 129px auto 60px;
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 79px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin: 35px 99px 11px -13px;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 1001px;
}

.u-section-10 .u-list-1 {
  width: 377px;
  margin: 1px 763px 0 0;
}

.u-section-10 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 418px;
  grid-gap: 20px 20px;
}

.u-section-10 .u-list-item-1 {
  background-image: linear-gradient(#f37bfb, #c200ce);
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-image-1 {
  height: 239px;
  object-position: 50% 69.72%;
  margin: 0 auto 0 0;
}

.u-section-10 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 47px 0 0;
}

.u-section-10 .u-list-2 {
  width: 315px;
  margin: -442px auto 0 394px;
}

.u-section-10 .u-repeater-2 {
  grid-template-columns: 100%;
  min-height: 442px;
  grid-gap: 20px 20px;
}

.u-section-10 .u-list-item-2 {
  background-image: none;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
}

.u-section-10 .u-container-layout-2 {
  padding: 30px;
}

.u-section-10 .u-image-2 {
  height: 239px;
  margin: 0 auto 0 0;
}

.u-section-10 .u-text-2 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: 47px 43px 0 0;
}

.u-section-10 .u-list-3 {
  width: 414px;
  margin: -441px 0 0 auto;
}

.u-section-10 .u-repeater-3 {
  grid-template-columns: 100%;
  min-height: 441px;
  grid-gap: 20px 20px;
}

.u-section-10 .u-list-item-3 {
  background-image: none;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
}

.u-section-10 .u-container-layout-3 {
  padding: 30px 30px 24px;
}

.u-section-10 .u-image-3 {
  height: 239px;
  margin: 0 auto 0 0;
}

.u-section-10 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 20px 0 0;
}

.u-section-10 .u-list-4 {
  width: 425px;
  margin: 17px auto 0 0;
}

.u-section-10 .u-repeater-4 {
  grid-template-columns: 100%;
  min-height: 422px;
  grid-gap: 20px 20px;
}

.u-section-10 .u-list-item-4 {
  background-image: none;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
}

.u-section-10 .u-container-layout-4 {
  padding: 30px 30px 0;
}

.u-section-10 .u-image-4 {
  height: 241px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 45.12%;
}

.u-section-10 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 37px 15px 0;
}

.u-section-10 .u-text-5 {
  font-size: 1.125rem;
  font-style: italic;
  text-align: center;
  margin: -237px auto 0 487px;
}

.u-section-10 .u-btn-1 {
  border-style: none none solid;
  font-style: italic;
  padding: 0;
}

.u-section-10 .u-list-5 {
  width: 698px;
  margin: -214px 0 60px auto;
}

.u-section-10 .u-repeater-5 {
  grid-template-columns: 100%;
  min-height: 422px;
  grid-gap: 20px 20px;
}

.u-section-10 .u-list-item-5 {
  background-image: linear-gradient(#f37bfb, #c200ce);
  box-shadow: 2px 0 8px 0 rgba(128,128,128,1);
}

.u-section-10 .u-container-layout-5 {
  padding: 0 15px;
}

.u-section-10 .u-image-5 {
  height: 279px;
  width: 638px;
  object-position: 50% 25.15%;
  margin: 14px 0 0 auto;
}

.u-section-10 .u-text-6 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: 17px 15px 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-list-1 {
    margin-right: 563px;
  }

  .u-section-10 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
    min-height: 425px;
  }

  .u-section-10 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-list-3 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 394px;
  }

  .u-section-10 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-list-4 {
    margin-top: 251px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-10 .u-text-5 {
    margin-top: -471px;
    margin-left: 402px;
  }

  .u-section-10 .u-list-5 {
    margin-top: 84px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-list-1 {
    margin-right: 343px;
  }

  .u-section-10 .u-repeater-1 {
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    min-height: 471px;
  }

  .u-section-10 .u-text-5 {
    margin-left: 308px;
  }

  .u-section-10 .u-list-5 {
    margin-top: 462px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-list-1 {
    margin-right: 163px;
  }

  .u-section-10 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-10 .u-image-1 {
    height: 269px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-list-2 {
    margin-top: 20px;
    margin-right: 163px;
    margin-left: 0;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-image-2 {
    height: 276px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-list-3 {
    margin-right: 163px;
    margin-left: 0;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-image-3 {
    height: 266px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-image-4 {
    height: 267px;
  }

  .u-section-10 .u-text-5 {
    margin-left: 231px;
  }

  .u-section-10 .u-list-5 {
    width: 540px;
  }

  .u-section-10 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-image-5 {
    height: 227px;
    width: 520px;
  }

  .u-section-10 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 2486px;
  }

  .u-section-10 .u-list-1 {
    width: 190px;
    margin-top: 3px;
    margin-right: auto;
    margin-left: 26px;
  }

  .u-section-10 .u-repeater-1 {
    min-height: 452px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 6px;
  }

  .u-section-10 .u-image-1 {
    height: 241px;
    width: 177px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-10 .u-text-1 {
    width: auto;
    margin-top: 14px;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-10 .u-list-2 {
    width: 190px;
    margin-top: 9px;
    margin-right: auto;
    margin-left: 25px;
  }

  .u-section-10 .u-repeater-2 {
    min-height: 363px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 13px;
  }

  .u-section-10 .u-image-2 {
    height: 227px;
    margin-top: 22px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: 29px;
    margin-left: 14px;
  }

  .u-section-10 .u-list-3 {
    width: 190px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: 26px;
  }

  .u-section-10 .u-repeater-3 {
    min-height: 642px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-10 .u-image-3 {
    height: 216px;
    width: 183px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-10 .u-text-3 {
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-10 .u-list-4 {
    width: 190px;
    margin-top: 11px;
    margin-right: auto;
    margin-left: 26px;
  }

  .u-section-10 .u-repeater-4 {
    min-height: 395px;
  }

  .u-section-10 .u-image-4 {
    height: 211px;
  }

  .u-section-10 .u-text-4 {
    width: auto;
    margin-top: 7px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-5 {
    margin-top: -51px;
    margin-left: 145px;
  }

  .u-section-10 .u-list-5 {
    width: 190px;
    margin: 33px auto 3px 26px;
  }

  .u-section-10 .u-repeater-5 {
    min-height: 587px;
  }

  .u-section-10 .u-image-5 {
    height: 140px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 771px;
}

.u-section-11 .u-layout-wrap-1 {
  margin-top: 59px;
  margin-bottom: 60px;
}

.u-section-11 .u-layout-cell-1 {
  min-height: 618px;
  background-image: none;
}

.u-section-11 .u-container-layout-1 {
  padding: 0;
}

.u-section-11 .u-layout-cell-2 {
  min-height: 638px;
  background-image: none;
}

.u-section-11 .u-container-layout-2 {
  padding: 0;
}

.u-section-11 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 40px auto 0;
}

.u-section-11 .u-text-2 {
  font-weight: 500;
  font-size: 1rem;
  margin: 86px 254px 0 55px;
}

.u-section-11 .u-icon-1 {
  width: 24px;
  height: 24px;
  margin: -24px auto 0 24px;
}

.u-section-11 .u-text-3 {
  font-weight: 500;
  font-size: 1rem;
  margin: -24px 24px 0 367px;
}

.u-section-11 .u-icon-2 {
  width: 24px;
  height: 24px;
  margin: -25px auto 0 336px;
}

.u-section-11 .u-form-1 {
  height: 388px;
  margin: 51px -4px -8px 0;
}

.u-section-11 .u-form-group-1 {
  margin-left: 0;
}

.u-section-11 .u-btn-1 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  border-style: none;
  background-image: none;
  font-weight: normal;
  text-transform: none;
  width: 35%;
  padding: 9px 11px 10px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 737px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 510px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 942px;
  }

  .u-section-11 .u-text-2 {
    margin-right: 204px;
    margin-left: 5px;
  }

  .u-section-11 .u-icon-1 {
    margin-top: 20px;
    margin-right: 230px;
    margin-left: 5px;
  }

  .u-section-11 .u-text-3 {
    margin-right: 0;
    margin-left: 291px;
  }

  .u-section-11 .u-icon-2 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 291px;
  }

  .u-section-11 .u-form-1 {
    width: 470px;
    margin-right: 0;
    margin-top: 376px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 214px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 391px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 706px;
  }

  .u-section-11 .u-text-2 {
    margin-right: 99px;
    margin-left: 0;
  }

  .u-section-11 .u-icon-1 {
    margin-left: 0;
  }

  .u-section-11 .u-text-3 {
    margin-left: 181px;
  }

  .u-section-11 .u-icon-2 {
    margin-left: 181px;
  }

  .u-section-11 .u-form-1 {
    width: 360px;
    margin-top: 51px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-layout-cell-1 {
    min-height: 587px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 914px;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: 203px;
    margin: 33px auto 28px 18px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 231px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 622px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-11 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-11 .u-text-2 {
    font-size: 0.875rem;
    width: 132px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-11 .u-icon-1 {
    margin-top: -42px;
    margin-right: auto;
    margin-left: -4px;
  }

  .u-section-11 .u-text-3 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 36px;
    margin-right: 11px;
    margin-left: 24px;
  }

  .u-section-11 .u-icon-2 {
    margin-top: -22px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-11 .u-form-1 {
    height: 377px;
    width: 203px;
    margin: 13px -4px 0;
  }

  .u-section-11 .u-btn-1 {
    font-size: 0.75rem;
    letter-spacing: 0px;
    padding: 0 10px 1px 9px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 571px;
}

.u-section-12 .u-layout-wrap-1 {
  width: 1227px;
  margin: 1px -43px 0;
}

.u-section-12 .u-layout-cell-1 {
  min-height: 455px;
}

.u-section-12 .u-container-layout-1 {
  padding: 30px 0 11px;
}

.u-section-12 .u-text-1 {
  line-height: 1.2;
  letter-spacing: 2px;
  font-weight: 500;
  margin: 36px -1px 0;
}

.u-section-12 .u-image-1 {
  width: 351px;
  height: 289px;
  margin: 22px 10px 0 auto;
}

.u-section-12 .u-layout-cell-2 {
  min-height: 455px;
}

.u-section-12 .u-container-layout-2 {
  padding: 28px 30px;
}

.u-section-12 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 64px auto 0;
}

.u-section-12 .u-text-3 {
  font-size: 1.25rem;
  margin: 55px auto 0;
}

.u-section-12 .u-btn-1 {
  padding: 0;
}

.u-section-12 .u-text-4 {
  font-size: 1.25rem;
  margin: 10px auto 0;
}

.u-section-12 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-12 .u-text-5 {
  font-size: 1.25rem;
  margin: 10px auto 0;
}

.u-section-12 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-12 .u-text-6 {
  font-size: 1.25rem;
  margin: 10px auto 0;
}

.u-section-12 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-12 .u-text-7 {
  font-size: 1.25rem;
  margin: 10px auto 0;
}

.u-section-12 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-12 .u-text-8 {
  font-size: 1.25rem;
  margin: 10px auto -2px;
}

.u-section-12 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-12 .u-layout-cell-3 {
  min-height: 455px;
}

.u-section-12 .u-container-layout-3 {
  padding: 30px;
}

.u-section-12 .u-text-9 {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: left;
  margin: 62px auto 0;
}

.u-section-12 .u-text-10 {
  text-align: center;
  font-size: 1.25rem;
  background-image: none;
  margin: 31px 12px 0;
}

.u-section-12 .u-text-11 {
  text-align: center;
  font-size: 1.25rem;
  background-image: none;
  margin: 0 auto;
}

.u-section-12 .u-text-12 {
  text-align: center;
  font-size: 1.25rem;
  background-image: none;
  margin: 0 auto;
}

.u-section-12 .u-text-13 {
  font-size: 1.25rem;
  text-align: center;
  margin: 20px 15px 0;
}

.u-section-12 .u-icon-1 {
  width: 50px;
  background-image: none;
  height: 50px;
  color: rgb(71, 138, 201) !important;
  margin: 30px auto 0 120px;
}

.u-section-12 .u-icon-2 {
  width: 50px;
  background-image: none;
  height: 50px;
  color: rgb(71, 138, 201) !important;
  margin: -50px 106px 0 auto;
}

.u-section-12 .u-text-14 {
  width: 318px;
  font-size: 1rem;
  margin: 62px auto 0;
}

.u-section-12 .u-icon-3 {
  width: 20px;
  height: 20px;
  margin: -23px auto 31px 382px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 465px;
  }

  .u-section-12 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 349px;
  }

  .u-section-12 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-12 .u-image-1 {
    width: 313px;
    height: 258px;
    margin-right: 0;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 349px;
  }

  .u-section-12 .u-layout-cell-3 {
    min-height: 349px;
  }

  .u-section-12 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-12 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-12 .u-icon-1 {
    margin-left: 87px;
  }

  .u-section-12 .u-icon-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 87px;
  }

  .u-section-12 .u-icon-3 {
    margin-top: 20px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 216px;
  }

  .u-section-12 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-12 .u-image-1 {
    width: 240px;
    height: 198px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-12 .u-text-5 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-12 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-12 .u-text-11 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-12 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-12 .u-icon-1 {
    margin-left: 62px;
  }

  .u-section-12 .u-icon-2 {
    margin-left: 62px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 316px;
  }

  .u-section-12 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-12 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-text-5 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-12 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-text-12 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 1126px;
  }

  .u-section-12 .u-layout-wrap-1 {
    width: 203px;
    margin-top: -16px;
    margin-right: auto;
    margin-left: 15px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 369px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-top: 11px;
  }

  .u-section-12 .u-text-1 {
    width: auto;
    line-height: 26.4px;
    letter-spacing: normal;
    font-weight: normal;
  }

  .u-section-12 .u-image-1 {
    width: 214px;
    margin-right: auto;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 380px;
  }

  .u-section-12 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-12 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: 21px;
    margin-left: 15px;
  }

  .u-section-12 .u-text-3 {
    width: auto;
    margin-top: 13px;
    margin-left: 68px;
  }

  .u-section-12 .u-text-4 {
    width: auto;
    margin-left: 55px;
  }

  .u-section-12 .u-text-5 {
    width: auto;
    margin-right: 25px;
    margin-left: 19px;
  }

  .u-section-12 .u-text-6 {
    width: auto;
    margin-left: 43px;
  }

  .u-section-12 .u-text-7 {
    width: auto;
    margin-left: 31px;
  }

  .u-section-12 .u-text-8 {
    width: auto;
    margin-bottom: 0;
    margin-left: 46px;
  }

  .u-section-12 .u-layout-cell-3 {
    min-height: 394px;
  }

  .u-section-12 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-12 .u-text-9 {
    width: auto;
    margin-top: 0;
    margin-right: 23px;
    margin-left: 35px;
  }

  .u-section-12 .u-text-10 {
    font-size: 1.125rem;
    width: auto;
    margin-right: 15px;
    margin-left: 5px;
  }

  .u-section-12 .u-text-11 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 0;
    margin-right: auto;
    margin-left: 5px;
  }

  .u-section-12 .u-text-12 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 0;
    margin-right: auto;
    margin-left: 52px;
  }

  .u-section-12 .u-text-13 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 18px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-12 .u-icon-1 {
    width: 24px;
    height: 24px;
    margin-top: 12px;
    margin-left: 102px;
  }

  .u-section-12 .u-icon-2 {
    width: 24px;
    height: 24px;
    margin-top: -24px;
    margin-left: 67px;
  }

  .u-section-12 .u-text-14 {
    font-size: 0.5625rem;
    width: auto;
    margin-top: -40px;
    margin-right: 128px;
    margin-left: 31px;
  }

  .u-section-12 .u-icon-3 {
    width: 14px;
    height: 14px;
    margin-top: -14px;
    margin-bottom: 26px;
    margin-left: 12px;
  }
}